// bootstrap variables

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$white: #fff;

$brand-primary: #23A3DD;
$brand-primary-dark: #086690;
$brand-primary-darker: #00426B;
$brand-success: #B5CA00;
$brand-success-light: #E6EDA8;
$brand-success-dark: #5B6900;
$brand-info: $brand-primary-darker;
$brand-warning: #DD7800;
$brand-danger: #E43B53;
$brand-danger-light: #FFDFDF;
$brand-danger-dark: #d20000;

$font-family-sans-serif: "Droid Sans", sans-serif;
$font-family-serif: "Droid Serif", serif;
$font-family-monospace: 'Droid Sans Mono', Monaco, Consolas, "Courier New", monospace;

$headings-color: $brand-primary-darker;

$table-bg-accent: $brand-primary;
$table-bg-inactive: $gray-light;
$table-bg-hover: $brand-primary;
$table-border-color: $white;

$btn-default-color: $white;
$btn-default-bg: $gray-light;
$btn-default-border: darken($btn-default-bg, 5%);
$btn-primary-color: $white;
$btn-success-color: $white;
$btn-info-color: $white;
$btn-warning-color: $white;
$btn-danger-color: $white;

$input-bg-disabled: $gray-lighter;
$input-color: $brand-primary;
$input-border: $brand-primary;
$input-border-focus: $brand-primary;
$input-color-placeholder: $brand-primary;

$legend-color: $brand-primary-darker;
$legend-border-color: $white;

$input-group-addon-bg: $white;
$input-group-addon-border-color: $brand-primary;

$dropdown-border: $white;
$dropdown-fallback-border: $white;
$dropdown-divider-bg: $white;
$dropdown-link-color: $brand-primary;
$dropdown-link-hover-color: $brand-primary;
$dropdown-link-hover-bg: $white;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $brand-primary;
$dropdown-link-disabled-color: $white;
$dropdown-header-color: $brand-primary;

$navbar-default-color: #1B7DAA;
$navbar-default-bg: #1B7DAA;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-disabled-color: #cccccc;
$navbar-default-toggle-hover-bg: #dddddd;
$navbar-default-toggle-icon-bar-bg: #888888;
$navbar-default-toggle-border-color: #dddddd;

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: $brand-primary;
$navbar-inverse-link-color: $white;
$navbar-inverse-brand-color: $white;

$pagination-border: $brand-primary;
$pagination-hover-border: $brand-primary;
$pagination-disabled-border: $brand-primary;

$pager-border: $brand-primary;

$jumbotron-color: $brand-primary-dark;
$jumbotron-heading-color: $brand-primary-dark;

$state-success-text: $brand-success;
$state-success-bg: $brand-success;
$state-info-text: $brand-info;
$state-info-bg: $brand-info;
// $state-info-border: darken(spin($state-info-bg, -10), 7%)rgb(49, 112, 143);
$state-warning-text: $brand-warning;
$state-warning-bg: $brand-warning;
$state-danger-text: $brand-danger;
$state-danger-bg: $brand-danger;

$tooltip-bg: $brand-primary;

$popover-border-color: $brand-primary;
$popover-fallback-border-color: $brand-primary;
$popover-title-bg: $brand-primary;

$modal-content-border-color: $brand-primary;

$alert-success-text: $white;
$alert-success-inverse-text: $brand-success-dark;
$alert-success-inverse-bg: $brand-success-light;

$alert-info-text: $white;
$alert-warning-text: $white;

$alert-danger-text: $white;
$alert-danger-inverse-text: $brand-danger-dark;
$alert-danger-inverse-bg: $brand-danger-light;

$list-group-link-color: $brand-primary;
$list-group-link-heading-color: $brand-primary-darker;

$panel-default-text: $brand-primary;
$panel-success-text: $white ;
$panel-info-text: $white ;
$panel-warning-text: $white ;
$panel-danger-text: $white ;

$well-bg: $gray-lighter;

$badge-bg: $brand-primary;

$text-muted: $brand-primary;

$abbr-border-color: $brand-primary;
