@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "thumbnail-primary";
@import "utils";

/* Tables */
.table > thead > tr > td.warning, .table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th,
.table > thead > tr > td.danger, .table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th,
.table > thead > tr > td.info, .table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th
{
  color: $white;
}

/* Alerts */

.alert-danger-inverse {
  @include alert-variant($alert-danger-inverse-bg, $alert-danger-border, $alert-danger-inverse-text);
}

.alert-success-inverse {
  @include alert-variant($alert-success-inverse-bg, $alert-success-border, $alert-success-inverse-text);
}

@include table-row-variant('inactive', $table-bg-inactive);

/* Typography */
.large-font-size {
  font-size: 20px;
}

/* States */
.state {
  padding-bottom: 5vh;
  margin-bottom: 0;
}
.stateText {
  line-height: 34px;

}

/* Notes */
.importantNote{
  h1, h2, h3, h4, h5, h6, p{
    color: #333333;
  }

}
