@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "thumbnail-primary";
@import "utils";

/* Misc */
.clickable:hover {
  cursor: pointer;
}

/* Tables */
.table > thead > tr > td.warning, .table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th,
.table > thead > tr > td.danger, .table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th,
.table > thead > tr > td.info, .table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th {
  color: $white;
}

td.inactive, .table > thead > tr > th.inactive, .table > thead > tr.inactive > td, .table > thead > tr.inactive > th, .table > tbody > tr > td.inactive, .table > tbody > tr > th.inactive, .table > tbody > tr.inactive > td, .table > tbody > tr.inactive > th, .table > tfoot > tr > td.inactive, .table > tfoot > tr > th.inactive, .table > tfoot > tr.inactive > td, .table > tfoot > tr.inactive > th {
  color: $gray-light;
}

/* Alerts */
.alert-danger-inverse {
  @include alert-variant($alert-danger-inverse-bg, $alert-danger-border, $alert-danger-inverse-text);
}

.alert-success-inverse {
  @include alert-variant($alert-success-inverse-bg, $alert-success-border, $alert-success-inverse-text);
}

@include table-row-variant('inactive', $table-bg-inactive);
.alert-success .alert-link {
  color: change-color($brand-success, $saturation: 70%, $lightness: 25%);
}

.alert-warning .alert-link {
  color: change-color($brand-warning, $saturation: 90%, $lightness: 30%);
}

.alert-danger .alert-link {
  color: darken($brand-danger, 25%);
}

.alert-info .alert-link {
  color: lighten($brand-info, 46.7%);
}

.close {
  opacity: 0.5;
}

/* Typography */
.large-font-size {
  font-size: 20px;
}

/* States */
.state {
  padding-bottom: 5vh;
  margin-bottom: 0;
}

.stateText {
  line-height: 34px;
}

/* Notes */
.importantNote {
  h1, h2, h3, h4, h5, h6, p {
    color: $gray-dark;
  }
}

/* Forms */
fieldset legend {
  padding: 0 0 5px;
  border-bottom: 1px solid $brand-primary-darker;
}

.input-group > .btn-default {
  color: $brand-primary;
  background-color: $white;
  border-color: $brand-primary;
}

/* Pager */
.pager {
  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      border-color: $pager-disabled-color;
    }
  }
}

/* Modals */
.modal-title {
  font-weight: 600;
}

.namespace-failure {
  color: #E43B53;
  padding-left: 0.25rem;
  margin-bottom: 0.5rem;
}

.modalWarning, .modalError {
  .modal-header, .modal-body, .modal-footer {
    padding: 15px 0;
    border-bottom: none;
  }

  .modal-content {
    padding: 25px;

    h3, h4 {
      color: $gray-dark;
      font-weight: 600;
      margin-bottom: 30px;

      .glyphicon {
        font-size: 90%;
      }
    }

    p {
      font-size: 18px;
    }
  }
}

.modalWarning {
  .modal-content {
    border: 10px solid $brand-warning;

    h3 {
      color: $gray-dark;

      .glyphicon {
        color: $brand-warning;
      }
    }
  }
}

.modalError {
  .modal-content {
    border: 10px solid $brand-danger;

    h4 {
      .glyphicon {
        color: $brand-danger;
      }
    }
  }
}

/* Collapsible css */
.collapsible-container section {
  margin-bottom: 3rem;
}

input.toggle[type='checkbox'] {
  display: none;
}

.dogu-list-toggler:checked ~ .dogu-list-container {
  display: block;
}

.namespace-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.namespace-header__label {
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
}

.namespace-header__label::before {
  content: '\e252';
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  font-weight: normal;
}

.namespace-header__line {
  margin: 0 1rem;
  flex-grow: 100;
}

.dogu-list-container {
  display: none;
}

.dogu-list {
  list-style-type: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  margin-bottom: 4rem;
  padding: 0;
}

.dogu-list li {
  break-inside: avoid;
}

.dogu-list__dogu {
  margin: .5rem 0;
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 2px;
}

.dogu-list__dogu:first-child {
  margin-top: 0;
}

.dogu-label {
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dogu-label input[type="checkbox"] {
  margin-right: 1rem;
}

.dogu-list__dogu__name {
  flex-grow: 1000;
}

.dogu-selected {
  background-color: #a8daf1;
  border: 1px solid #a5d4e9;
}

.dogu-invalid {
  background-color: #E43B53;
  border: 1px solid #a5d4e9;
  color: white;
}

/**
* Changes which are necessary due to accessibility issues (low contras eg.)
*/

/*=========================================================================
* light navbar
* =========================================================================*/
.navbar-inverse .navbar-nav > li > a {
  color: #333;
}
.navbar-inverse .navbar-brand {
  color: #333
}

.navbar-inverse {
  background-color: #fff;
  border-color: #23a3dd;
}

.navbar-inverse .dropdown-menu > li > a {
  color: #333;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #333;
  background-color: #d4edf8;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #00426b;
  background-color: transparent; }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #00426b;
  background-color: transparent; }

.navbar-inverse  .dropdown > .ng-binding {
  max-height: 50px;
}

.navbar-inverse .navbar-toggle {
  background-color: #23a3dd;
  border-color: #23A3DD;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
  border-color: #333;
}

/*=========================================================================
* texts and link-colors
* =========================================================================*/
/*overwrite of ces.css Z. 1074*/
a {
  color: #1b7daa;
}

.list-group-item {
  color: #1b7daa;
}

/*overwrite of ces.css Z. 1077*/
a:hover, a:focus {
  color: #16688d;
}

/*overwrite of ces.css Z. 4896*/
.panel-default > .panel-heading {
  color: #00426b;
  background-color: #f5f5f5;
  border-color: #ddd;
}

/*overwrite of ces.css Z. 3164*/
.dropdown-menu > li > a {
  color: #1b7daa;
}

/*overwrite of ces.css Z. 3172*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #16688d;
}

/*overwrite of ces.css Z. 2319*/
.form-control {
  color: #1b7daa;
  background-color: #fff;
  background-image: none;
  border: 1px solid #1b7daa;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(35, 163, 221, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(35, 163, 221, 0.6);
}

.form-control::-moz-placeholder {
  color: #1b7daa;
}

.form-control:-ms-input-placeholder {
  color: #1b7daa;
}

.form-control::-webkit-input-placeholder {
  color: #1b7daa;
}

/*overwrite of ces.css Z. 2862*/
.btn-primary {
  color: #fff;
  background-color: #00426b;
  border-color: #1f93c8;
}

.dogu-label .dogu-label__checkbox {
  vertical-align: middle;
  /* bootstrap: tag + attribute selector */
  margin: 0;
}
//=========================================================================