@import "variables";

$font-color: $white;
$font-family: "Droid Sans", sans-serif;

@mixin gradient-background($c1, $c2, $c3, $c4){
    background: linear-gradient(top, $c1 0%, $c2 50%, $c3 75%, $c4 100%);
    background: -moz-linear-gradient(top, $c1 0%, $c2 50%, $c3 75%, $c4 100%);
    background: -webkit-linear-gradient(top, $c1 0%, $c2 50%, $c3 75%, $c4 100%);
    background: -ms-linear-gradient(top, $c1 0%, $c2 50%, $c3 75%,$c4 100%);
    background: -o-linear-gradient(top, $c1 0%, $c2 50%, $c3 75%,$c4 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#{$c4}, endColorstr=#{$c1}, GradientType=1);
    background-color: $c4;
}

body, html {
    background-color: #1b7daa;
}

.logo {
    z-index: 20;
    position: absolute;
    right: 3vw;
    top: 3vw;

    img {
        width: 15vw;
    }
}

.message {
    z-index: 20;
    color: $font-color;
    font-weight: bold;
    font-family: $font-family;
    text-align: center;
    position: absolute;
    right: 15vw;
    top: 20vw;
    line-height: 10vw;

    .code {
        font-size: 20vw;
    }

    .description {
        font-size: 4vw;
    }
}

.informationbox {
    z-index: 20;
    color: $white;
    display: inline-block;
    text-align: center;
    display: block;
    overflow: auto;
    position: relative;
    padding-left: 50vw;
    padding-top: 13vw;
}

.sizing {
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0 !important;
    padding-bottom: 3vw !important;
    border-radius: 0.5vw;

    h1 {
        color: #E43B53 !important;
        padding-top: 2vw !important;
        padding-bottom: 1vw !important;
    }
}

.background {
    position: absolute;
    z-index: 10;
    bottom: 1vw;
    left: 1vw;
    width: 80%;

    img {
        width: 70%;
    }
}

.clouds-left {
    z-index: 100;
    position: absolute;
    left: -80px;
    top: -30px;

    img {
        width: 225px;
    }
}

.clouds-right-one {
    z-index: 85;
    position: absolute;
    right: -26px;
    top: -6px;

    img {
        width: 150px;
    }
}
.clouds-right-two {
    z-index: 84;
    position: absolute;
    right: -80px;
    top: -30px;

    img {
        width: 160px;
    }
}

#lottie {
    height: 60vh;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1;
}

.content-container {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
        text-align: center;
        color: $white;
    }

    .code {
        font-size: 7.5rem;
    }
    .description h1 {
        font-weight: normal;
        margin-top: 0.5rem;
    }
    .description p{
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .logo {
        right: 1.5vw;
        top: 1.5vw;
        img {
           width: 6.5vw;
        }
    }

    .content-container {
        display: flex;
        flex: 1 200px;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: center;
        margin-top: 15vh;

        .code {
            text-align: start;
        }
        .description h1{
            font-size: 4rem;
        }
    }
    #lottie {
        height: 70vh;
        width: 20vw;
    }
    .code, .description {
        width: 30vw;
        display: flex;
        margin-bottom: 10vh;
    }
    .code {
        align-items: flex-end;
    }
    .description {
        flex-direction: column;
       justify-content: flex-end;
        h1 {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 920px) {
    .content-container {
        .code {
            font-size: 10rem;
        }
    }

}

@media (min-width: 1400px) {
    .clouds-left {
        left: 15vw;
        top: -250px;

        img {
            width: 400px;
        }
    }

    .clouds-right-one {
        z-index: 85;
        position: absolute;
        right: 27vw;
        top: -150px;

        img {
            width: 240px;
        }
    }
    .clouds-right-two {
        z-index: 84;
        position: absolute;
        right: 22vw;
        top: -120px;

        img {
            width: 220px;
        }
    }
}